<%- include("../partials/header") %>

<h3>Admin Login</h3>

<form method="POST" action="/admin/login" class="admin-form">
  <input type="password" name="password" placeholder="Admin Password" required />
  <button type="submit">Login</button>
</form>

<%- include("../partials/footer") %>